/* ============== GENERAL ============== */
*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #25343a;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/* ======== LAYOUT & HEADER =========== */
.main-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 20px;
}

/* ============== CALCULATOR ============== */
.calculator {
  margin: 50px auto;
  width: 220px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #fff;
}

/* =============== DISPLAY ================ */
.display-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  align-items: flex-end;
}

.display-error-message {
  font-size: .8rem;
  color: #D4AF37;
}

.display-error {
  color: #c4c4c4;
}

.display-number {
  text-align: right;
  font-size: 2rem;
  letter-spacing: 2px;
}

.small {
  font-size: 1rem;
  letter-spacing: 1px;
}

/* ============== BUTTONS ============== */
.numbers-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(45px, 1fr));
  grid-template-rows: repeat(3, minmax(45px, 1fr));
  grid-gap: 15px;
  padding: 40px 20px 15px 20px;
}

.button {
  display: flex;
  font-size: 40px;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #2e4047;
}

.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 1.2rem;
}

.operators-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 40px 20px;
}

.utility,
.ce,
.operator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2b3b42;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center
}

.ce {
  font-size: 1.2rem;
}

.utility>.p-operator {
  padding-bottom: 3px;
}

.operator>.p-operator {
  padding-bottom: 3px;
}

/* ============== INSTRUCTIONS ============== */
.instructions-box {
  width: 400px;
  border: 1px solid white;
  border-radius: 10px;
}

.instructions {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.instructions-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.instructions-text {
  font-size: 1rem;
}

/* ============== ANIMATION ============== */
.fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
  animation-timing-function: ease-in;
}

.instructions-bounce {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ============== MEDIA QUERIES ============== */
@media (max-width: 600px) {
  .header {
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

  .instructions {
    padding: 8px;
    height: 110px;
  }

  .instructions-box {
    width: 300px;
  }

  .instructions-title {
    font-size: 1rem;
  }

  .instructions-text {
    font-size: 0.9rem;
  }
}